In [1]:
import json
import pandas as pd

In [2]:
# Specify the path to your JSON file
file_path = 'loan.json'

# Open the JSON file
with open(file_path, 'r') as json_file:
    # Read the JSON content
    data = json.load(json_file)

In [3]:
df1 = pd.DataFrame(data)

In [4]:
df = df1.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252000 entries, 0 to 251999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 252000 non-null  int64
 1   Income             252000 non-null  int64
 2   Age                252000 non-null  int64
 3   Experience         252000 non-null  int64
 4   Married/Single     252000 non-null  object
 5   House_Ownership    252000 non-null  object
 6   Car_Ownership      252000 non-null  object
 7   Profession         252000 non-null  object
 8   CITY               252000 non-null  object
 9   STATE              252000 non-null  object
 10  CURRENT_JOB_YRS    252000 non-null  int64
 11  CURRENT_HOUSE_YRS  252000 non-null  int64
 12  Risk_Flag          252000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 26.9+ MB

In [6]:
df.describe()

,Id,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
count,252000.000000,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,126000.500000,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,72746.278255,2.878311e+06,17.063855,6.002590,3.647053,1.399037,0.328438
min,1.000000,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,63000.750000,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,126000.500000,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,189000.250000,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,252000.000000,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

In [39]:
df.isna().sum()

Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [7]:
df = df.drop(columns = ['Id', 'Profession', 'CITY', 'STATE'])

In [8]:
df['Risk_Flag'] = df['Risk_Flag'].map({0: 'deny', 1: 'approve'})

In [9]:
df.loc[df['Married/Single'] == 'single', 'Married/Single'] = 0
df.loc[df['Married/Single'] == 'married', 'Married/Single'] = 1

In [10]:
df.loc[df['Car_Ownership'] == 'no', 'Car_Ownership'] = 0
df.loc[df['Car_Ownership'] == 'yes', 'Car_Ownership'] = 1

In [11]:
df.loc[df['House_Ownership'] == 'rented','House_Ownership'] =  0
df.loc[df['House_Ownership'] == 'owned','House_Ownership'] = 1 
df.loc[df['House_Ownership'] == 'norent_noown','House_Ownership'] =  2

In [12]:
df['Married/Single'] = df['Married/Single'].astype('int8')
df['House_Ownership'] = df['House_Ownership'].astype('int8')
df['Car_Ownership'] = df['Car_Ownership'].astype('int8')

In [30]:
df['Risk_Flag'] = df['Risk_Flag'].astype('category')

In [31]:
x = df.drop('Risk_Flag', axis = 1)
y = df['Risk_Flag']

In [32]:
y.describe()

count     252000
unique         2
top         deny
freq      221004
Name: Risk_Flag, dtype: object

In [33]:
x.corr().style.background_gradient(cmap='coolwarm')

## Machine Learn

In [22]:
from sklearn.ensemble import RandomForestClassifier

# from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

In [17]:
model = make_pipeline(StandardScaler(), RandomForestClassifier())

In [18]:
model.fit(x, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestclassifier', RandomForestClassifier())])

In [19]:
pred = model.predict(x)

In [38]:
pred

array(['deny', 'deny', 'deny', ..., 'deny', 'deny', 'deny'], dtype=object)

In [34]:
scores = cross_val_score(model, x, y, cv=3)
scores

array([0.91733333, 0.89860714, 0.86679762])